extends /pc/_components/_template.pug


block var
	- metas = {}
	- metas.pageName = '店舗登録'
	- metas.siteName = '管理画面'
	- metas.keywords = 'キーワード'
	- metas.description = 'ディスクリプション'

	- pageName = '店舗情報登録 パターン1'
block append meta
	+meta(metas)

block title
	title #{metas.pageName} | #{metas.siteName}
block link
	link(href="./style.css", rel="stylesheet")





block pagesContent
	form(action='#')
		.mdl-grid
			.mdl-cell--6-col-desktop.pr-16
				p.ttl-article test
			.mdl-cell--6-col-desktop
				.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					input#title.mdl-textfield__input(type='text')
					label.mdl-textfield__label(for='title') タイトル
		.mdl-grid
			.mdl-cell--6-col-desktop.pr-16
				.img-main
					img(src="https://s3-ap-northeast-1.amazonaws.com/files.kokyu-caba/article/detail/2/pc/img_main.png")
			.mdl-cell--6-col-desktop
				label.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--teal-300.mdl-color-text--white.btn-fileUpload
					input.js-inputFile(type='file')
					| 画像をアップロード
				.fileName.js-fileName






		//- button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--teal-300.mdl-color-text--white.btn-search(type='submit')
		//- 	| 検索
block End_pagesContent