extends /pc/_components/_template.pug


block var
	- metas = {}
	- metas.pageName = 'ホーム'
	- metas.siteName = '管理画面'
	- metas.keywords = 'キーワード'
	- metas.description = 'ディスクリプション'

	- pageName = 'Home'
block append meta
	+meta(metas)

block title
	title #{metas.pageName} | #{metas.siteName}
block link
	link(href="./style.css", rel="stylesheet")





block pagesContent
	.mdl-components__warning ログインしました
block End_pagesContent