extends /pc/_components/_template.pug


block var
	- metas = {}
	- metas.pageName = 'Meta編集'
	- metas.siteName = '管理画面'
	- metas.keywords = 'キーワード'
	- metas.description = 'ディスクリプション'

	- pageName = 'Meta編集'
block append meta
	+meta(metas)

block title
	title #{metas.pageName} | #{metas.siteName}
block link
	link(href="./style.css", rel="stylesheet")





block pagesContent
	- for (var i = 0; i < 10; i++)
		.cardModule.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
			a.mdl-grid.mdl-grid--no-spacing.mdl-cell.mdl-cell--12-col-desktop(href=baseUrl+'meta/edit/')
				.mdl-card.mdl-cell.mdl-cell--11-col-desktop
					.mdl-card__supporting-text
						.mdl-card__supporting-text-row
							p.mdl-card__supporting-text-th ID
							p.mdl-card__supporting-text-td 1
						.mdl-card__supporting-text-row
							p.mdl-card__supporting-text-th script_id
							p.mdl-card__supporting-text-td 1
						.mdl-card__supporting-text-row
							p.mdl-card__supporting-text-th title
							p.mdl-card__supporting-text-td キャバクラ求人・バイト｜体入ルナイト

				.btn.mdl-cell.mdl-cell--1-col-desktop.mdl-color-text--white
					i.material-icons arrow_forward_ios


block End_pagesContent