@import '../../partial/_common'

.l-mainContainer
	padding 32px

.mdl-cell--6-col-desktop.pr-16
	padding-right 16px

.ttl-article
	color textBaseColor
	line-height 1.5
	font-size 14px

.mdl-textfield__input
	color textBaseColor

.img-main
	max-width 600px
.btn-fileUpload
	display table
	position relative
	input
		display none

.fileName
	margin-top 8px
	font-size 16px
	color textBaseColor












.mdl-button
	padding 0 32px
	font-size 16px
.searchModule
	margin-top 32px
.mdl-textfield__input
	line-height 1.5


