footer.l-footer#l--footer
	button.pageToTop.js-pageToTop PAGE TOP
	p.logo
		img(src="http://placehold.it/225x143", width="225", height="143", alt="")
	.row
		small.copyright Copyright©2019 StaticPug Co.,Ltd　All Rights Reserved