/* ============================================================================

		汎用クラス (utility)

============================================================================ */
path = "/assets/img/user/pc/common/"

.u-clearfix:before,
.u-clearfix:after
	content ""
	display table
.u-clearfix:after
	clear both
.u-fL
	float left
.u-fR
	float right
.u-ellipsis
	overflow hidden
	max-width 100%
	padding 2px 0
	white-space nowrap
	text-overflow ellipsis
.u-imgCenter
	display block
	overflow hidden
	position relative
	width 100%
	height 100%
	img
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		margin auto

.u-overlay
	display none
	position fixed
	z-index 1900
	top 0
	left 0
	width 100vw
	height 100vh
	background-color rgba(0,0,0,0.8)