fontFamily = "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック", "YuGothic", "メイリオ", sans-serif;
ttlBaseColor = #171717
textBaseColor = #272727

base = #8f8871
black = #423f33
gray0 = #f9f9f8
gray1 = #eeede9
gray2 = #e2e0da
gray3 = #d5d2c9
gray4 = #c7c3b7
gray5 = #b7b2a3
gray6 = #a59f8c
gray7 = #908870
gray8 = #726b58
gray9 = #423f33
gray20 = #f1efee
gray21 = #e3dddb
gray22 = #d2cac7
gray23 = #c0b4af
gray24 = #aa9a94
gray25 = #8f7971
gray26 = #806d65
gray27 = #705f58
gray28 = #5c4e49
gray29 = #413733