@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	font-size: 100%;
	font-weight: inherit;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

ul,
ol,
nav {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

s {
	text-decoration: none;
}

ins {
	text-decoration: none;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select,
textarea {
	margin: 0;
	padding: 0;
	border-radius: 0;
	background-color: #fff;
	vertical-align: top;
	font: inherit;
	color: inherit;
	outline: none;
}

input[type="submit"] {
	border: none;
	background-color: transparent;
	font-size: 0;
}

textarea {
	min-width: 100%;
	resize: vertical;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea:disabled {
	opacity: 1;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
	font-size: 12px;
	font-size: 2.666666666666667vw;
	color: #272727;
	word-break: break-all;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	position: relative;
}

.l-header {
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.l-header .wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.l-header .wrap-l {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: calc(100% - 4.7rem);
}

.l-header .logo {
	height: 3rem;
	margin: 0.8rem 1rem;
}

.l-header .ttl {
	margin-left: 0.2rem;
	font-size: 1.2rem;
	font-weight: bold;
}

.l-header .wrap-r {
	width: 4.7rem;
	height: 4.7rem;
	background-color: #e0ddc5;
	text-align: center;
}

.l-header .menu {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.l-header .menu-line {
	display: inline-block;
	position: relative;
	width: 2rem;
	height: 0.15rem;
	background-color: #e76d00;
}

.l-header .menu-line::before,
.l-header .menu-line::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	width: 2rem;
	height: 0.15rem;
	background-color: #e76d00;
}

.l-header .menu-line::before {
	top: -0.6rem;
}

.l-header .menu-line::after {
	bottom: -0.6rem;
}

.l-header .menu-text {
	display: block;
	padding-top: 1.1rem;
	font-size: 0.9rem;
}

.overLay {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.overLay.is-active {
	display: block;
	right: 0;
}

.l-nav {
	position: fixed;
	z-index: 1001;
	min-width: 24rem;
	background-color: #fff;
	top: 0;
	right: -100%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.l-nav.is-active {
	display: block;
	position: absolute;
	right: 0;
}

.l-nav .nav-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1.5rem;
	background-color: #dcdcdc;
}

.l-nav .nav-head-ttl {
	height: 1.8rem;
	padding-left: 2.3rem;
	line-height: 1.9rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #171717;
}

.l-nav .nav-head-toTop {
	margin-left: auto;
	font-size: 1.5rem;
	font-weight: bold;
	color: #717171;
}

.l-nav .item-anchor {
	display: block;
	position: relative;
	padding: 1.2rem 1.5rem;
	border-bottom: 1px solid #f19149;
}

.l-nav .item-anchor::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 1.5rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 0.7rem;
	height: 1.2rem;
	background: url("/sp/common/img/ico_arr_grad.png") right center no-repeat;
	background-size: 0.7rem auto;
}

.l-nav .item-interview-arr::before {
	-webkit-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg);
}

.l-nav .item-interview-arr.is-active::before {
	-webkit-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}

.l-nav .item-anchor-text-ja,
.l-nav .item-anchor-name {
	font-size: 1.4rem;
	font-weight: bold;
	color: #171717;
}

.l-nav .item-anchor-text-en,
.l-nav .item-anchor-role {
	margin-top: 0.5rem;
	font-size: 1rem;
	color: #f19149;
}

.l-nav .list-interview {
	display: none;
}

.l-nav .item-anchor-interview {
	padding-left: 3rem;
}

.l-nav .btn-newEntryInNav,
.l-nav .btn-halfEntryInNav {
	display: block;
	height: 4rem;
	margin: 1.5rem;
	text-align: center;
	line-height: 4.1rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.2rem;
}

.l-nav .btn-newEntryInNav {
	background-color: #f8b551;
}

.l-nav .btn-halfEntryInNav {
	background-color: #eb6100;
}

.l-nav .btn-entryInNav-text {
	position: relative;
	padding-right: 6rem;
}

.l-nav .btn-entryInNav-text::before,
.l-nav .btn-entryInNav-text::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
}

.l-nav .btn-entryInNav-text::before {
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
	width: 1rem;
	height: 1.1rem;
	border-top: 0.1rem solid #fff;
	border-right: 0.1rem solid #fff;
}

.l-nav .btn-entryInNav-text::after {
	width: 3.5rem;
	height: 0.1rem;
	margin-top: -0.1rem;
	margin-right: -0.1rem;
	background-color: #fff;
}

.l-nav .btn-close {
	display: block;
	width: 10rem;
	height: 2.5rem;
	margin: 2rem auto;
	border: 1px solid #c9c9c9;
	background-color: transparent;
	line-height: 2.5rem;
	color: #717171;
}

.l-nav .btn-close-text {
	position: relative;
	padding-left: 1.5rem;
	font-size: 1rem;
}

.l-nav .btn-close-text::before,
.l-nav .btn-close-text::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 1rem;
	height: 0.1rem;
	background-color: #717171;
}

.l-nav .btn-close-text::before {
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

.l-nav .btn-close-text::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	transform: translateY(-50%) rotate(-45deg);
}

.l-footer {
	margin-top: 2.5rem;
	overflow: hidden;
	text-align: center;
}

.l-footer .pageToTop {
	position: relative;
	margin-bottom: 0.5rem;
	padding-top: 5rem;
	background-color: transparent;
	font-size: 1.2rem;
}

.l-footer .pageToTop::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0.1rem;
	height: 3.4rem;
	background-color: #434343;
}

.l-footer .logo {
	width: 12rem;
	margin: 2rem auto;
}

.l-footer .copyright {
	display: block;
	margin: 1.2rem 0;
	font-size: 1.2rem;
	color: #949494;
}

.l-footer .img-health {
	margin: 0.8rem;
	width: 16.2rem;
}

.mod-pageToTop {
	opacity: 0;
	position: fixed;
	z-index: 49;
	right: 10px;
	bottom: 10px;
	width: 35px;
	height: 35px;
	background-color: transparent;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.mod-pageToTop.is-active {
	opacity: 1;
}

.btn-readMore {
	display: block;
	position: relative;
	width: 28rem;
	height: 5.5rem;
	margin-right: auto;
	margin-left: auto;
	background: -webkit-gradient(linear, left top, right top, from(#ffc955), to(#f69289));
	background: linear-gradient(to right, #ffc955 0%, #f69289 100%);
	text-align: center;
	line-height: 5.5rem;
}

.btn-readMore::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	background-color: #fff;
}

.btn-readMore-txt {
	position: relative;
	padding-right: 3rem;
	font-size: 1.8rem;
	font-weight: bold;
}

.btn-readMore-txt::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 1rem;
	height: 1.6rem;
	background: url("/sp/common/img/ico_arr_grad.png") 0 0 no-repeat;
	background-size: cover;
}

.btn-newEntry,
.btn-halfEntry {
	display: block;
	height: 5.5rem;
	margin: 1.5rem;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	text-align: center;
	line-height: 5.6rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.1rem;
}

.btn-newEntry {
	background-color: #f8b551;
}

.btn-halfEntry {
	background-color: #eb6100;
}

.btn-entry-txt {
	position: relative;
	padding-right: 5rem;
}

.btn-entry-txt::before,
.btn-entry-txt::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
}

.btn-entry-txt::before {
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
	width: 1.7rem;
	height: 1.8rem;
	border-top: 0.1rem solid #fff;
	border-right: 0.1rem solid #fff;
}

.btn-entry-txt::after {
	width: 2.8rem;
	height: 0.1rem;
	margin-top: -0.1rem;
	margin-right: -0.2rem;
	background-color: #fff;
}

.btn-entry-txt span {
	vertical-align: middle;
	font-size: 2.3rem;
}

.u-ma {
	margin: auto;
}

.u-mxa {
	margin-right: auto;
	margin-left: auto;
}

.u-mx1 {
	margin-right: 1rem;
	margin-left: 1rem;
}

.u-mx2 {
	margin-right: 2rem;
	margin-left: 2rem;
}

.u-mx3 {
	margin-right: 3rem;
	margin-left: 3rem;
}

.u-mx4 {
	margin-right: 4rem;
	margin-left: 4rem;
}

.u-mx5 {
	margin-right: 5rem;
	margin-left: 5rem;
}

.u-mx-1 {
	margin-right: -1rem;
	margin-left: -1rem;
}

.u-mx-2 {
	margin-right: -2rem;
	margin-left: -2rem;
}

.u-mx-3 {
	margin-right: -3rem;
	margin-left: -3rem;
}

.u-mya {
	margin-top: auto;
	margin-bottom: auto;
}

.u-my1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.u-my2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.u-my3 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.u-my4 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.u-my5 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.u-mt1 {
	margin-top: 1rem;
}

.u-mt2 {
	margin-top: 2rem;
}

.u-mt3 {
	margin-top: 3rem;
}

.u-mt4 {
	margin-top: 4rem;
}

.u-mt5 {
	margin-top: 5rem;
}

.u-mr1 {
	margin-right: 1rem;
}

.u-mr2 {
	margin-right: 2rem;
}

.u-mr3 {
	margin-right: 3rem;
}

.u-mr4 {
	margin-right: 4rem;
}

.u-mr5 {
	margin-right: 5rem;
}

.u-mb1 {
	margin-bottom: 1rem;
}

.u-mb2 {
	margin-bottom: 2rem;
}

.u-mb3 {
	margin-bottom: 3rem;
}

.u-mb4 {
	margin-bottom: 4rem;
}

.u-mb5 {
	margin-bottom: 5rem;
}

.u-ml1 {
	margin-left: 1rem;
}

.u-ml2 {
	margin-left: 2rem;
}

.u-ml3 {
	margin-left: 3rem;
}

.u-ml4 {
	margin-left: 4rem;
}

.u-ml5 {
	margin-left: 5rem;
}

.u-clearfix:before,
.u-clearfix:after {
	content: "";
	display: table;
}

.u-clearfix:after {
	clear: both;
}

.u-ellipsis {
	overflow: hidden;
	max-width: 100%;
	padding: 2px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.u-imgCenter {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.u-imgCenter img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.u-gradTxt {
	background: -webkit-gradient(linear, left top, right top, from(#ffc955), to(#f69289));
	background: linear-gradient(to right, #ffc955 0%, #f69289 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
	float: left;
}

.swiper-container-vertical>.swiper-wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.swiper-container-multirow>.swiper-wrapper {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}

.swiper-slide {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
	visibility: hidden;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
	height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-transition-property: height, -webkit-transform;
	transition-property: height, -webkit-transform;
	transition-property: transform, height;
	transition-property: transform, height, -webkit-transform;
}

.swiper-container-3d {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
	background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.swiper-container-3d .swiper-slide-shadow-right {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.swiper-container-3d .swiper-slide-shadow-top {
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal>.swiper-wrapper {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical>.swiper-wrapper {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 27px;
	height: 44px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	left: 10px;
	right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	right: 10px;
	left: auto;
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-lock {
	display: none;
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: 0.3s opacity;
	transition: 0.3s opacity;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
}

.swiper-pagination-bullets-dynamic {
	overflow: hidden;
	font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	-webkit-transform: scale(0.33);
	transform: scale(0.33);
	position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	-webkit-transform: scale(0.66);
	transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	-webkit-transform: scale(0.33);
	transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	-webkit-transform: scale(0.66);
	transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	-webkit-transform: scale(0.33);
	transform: scale(0.33);
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: 0.2;
}

button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #007aff;
}

.swiper-container-vertical>.swiper-pagination-bullets {
	right: 10px;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 6px 0;
	display: block;
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 8px;
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	display: inline-block;
	-webkit-transition: 0.2s top, 0.2s -webkit-transform;
	transition: 0.2s top, 0.2s -webkit-transform;
	transition: 0.2s transform, 0.2s top;
	transition: 0.2s transform, 0.2s top, 0.2s -webkit-transform;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 4px;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	white-space: nowrap;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	-webkit-transition: 0.2s left, 0.2s -webkit-transform;
	transition: 0.2s left, 0.2s -webkit-transform;
	transition: 0.2s transform, 0.2s left;
	transition: 0.2s transform, 0.2s left, 0.2s -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	-webkit-transition: 0.2s right, 0.2s -webkit-transform;
	transition: 0.2s right, 0.2s -webkit-transform;
	transition: 0.2s transform, 0.2s right;
	transition: 0.2s transform, 0.2s right, 0.2s -webkit-transform;
}

.swiper-pagination-progressbar {
	background: rgba(0,0,0,0.25);
	position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #007aff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: left top;
	transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	-webkit-transform-origin: right top;
	transform-origin: right top;
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	width: 100%;
	height: 4px;
	left: 0;
	top: 0;
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical>.swiper-pagination-progressbar {
	width: 4px;
	height: 100%;
	left: 0;
	top: 0;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
	background: #fff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
	background: rgba(255,255,255,0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
	background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
	background: #000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
	background: rgba(0,0,0,0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
	background: #000;
}

.swiper-pagination-lock {
	display: none;
}

.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0,0,0,0.1);
}

.swiper-container-horizontal>.swiper-scrollbar {
	position: absolute;
	left: 1%;
	bottom: 3px;
	z-index: 50;
	height: 5px;
	width: 98%;
}

.swiper-container-vertical>.swiper-scrollbar {
	position: absolute;
	right: 3px;
	top: 1%;
	z-index: 50;
	width: 5px;
	height: 98%;
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	left: 0;
	top: 0;
}

.swiper-scrollbar-cursor-drag {
	cursor: move;
}

.swiper-scrollbar-lock {
	display: none;
}

.swiper-zoom-container {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
	max-width: 100%;
	max-height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.swiper-slide-zoomed {
	cursor: move;
}

.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
	animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-cube {
	overflow: visible;
}

.swiper-container-cube .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
	visibility: hidden;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	width: 100%;
	height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
	pointer-events: auto;
	visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	-webkit-filter: blur(50px);
	filter: blur(50px);
	z-index: 0;
}

.swiper-container-flip {
	overflow: visible;
}

.swiper-container-flip .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
	-ms-perspective: 1200px;
}

@-webkit-keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.mod-info {
	padding: 0.6rem 1rem;
}

.mod-info .wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.mod-info .info-ttl {
	background-color: #e6dabd;
	width: 4.8rem;
	height: 2.3rem;
	text-align: center;
	line-height: 2.4rem;
	font-size: 1.1rem;
	color: #171717;
}

.mod-info .info-date {
	margin: 0.6rem;
	color: #ee4e00;
}

.mod-info .info-txt {
	overflow: hidden;
	position: relative;
	width: calc(100% - 13rem);
}

.mod-info .info-txt::before {
	content: "";
	display: inline-block;
	white-space: nowrap;
}

.mod-info .marquee {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	-webkit-animation: marquee 10s infinite;
	animation: marquee 10s infinite;
}

.f-about {
	margin-top: 3.4rem;
}

.f-about .ttl {
	width: 15.75rem;
}

.f-about .list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.f-about .item {
	width: 50%;
	margin-top: 1rem;
	padding: 13.5rem 1rem 1rem;
}

.f-about .item:nth-child(1) {
	background: url("img/about/img_1.png") 0 0 no-repeat;
	background-size: 18rem auto;
}

.f-about .item:nth-child(2) {
	background: url("img/about/img_2.png") 0 0 no-repeat;
	background-size: 18rem auto;
}

.f-about .item:nth-child(3) {
	background: url("img/about/img_3.png") 0 0 no-repeat;
	background-size: 18rem auto;
}

.f-about .item:nth-child(4) {
	background: url("img/about/img_4.png") 0 0 no-repeat;
	background-size: 18rem auto;
}

.f-about .item:nth-child(5) {
	background: url("img/about/img_5.png") 0 0 no-repeat;
	background-size: 18rem auto;
}

.f-about .item:nth-child(6) {
	background: url("img/about/img_6.png") 0 0 no-repeat;
	background-size: 18rem auto;
}

.f-about .item-ttl {
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	color: #171717;
}

.f-about .item-txt {
	margin-top: 1.2rem;
	line-height: 1.4;
	font-size: 1.1rem;
}

.f-interview {
	overflow: hidden;
	margin-top: 2rem;
	padding-bottom: 5rem;
	background: url("img/interview/bg_main.png") 0 0 no-repeat;
	background-size: cover;
}

.f-interview .ttl {
	width: 18.6rem;
	margin-top: 3.6rem;
	margin-bottom: 3.1rem;
}

.f-interview .body {
	position: relative;
	margin: 1rem;
}

.f-interview .item-anchor {
	display: block;
	position: relative;
}

.f-interview .item-caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 3.7rem;
	padding: 0.5rem 1.5rem;
	background-color: #ffaa46;
	color: #171717;
	white-space: nowrap;
}

.f-interview .item-caption-name-ja {
	font-size: 1.7rem;
	font-weight: bold;
}

.f-interview .item-caption-name-en {
	margin-left: 1.5rem;
	font-size: 1.1rem;
	color: #fff;
}

.f-interview .item-caption-role {
	margin-left: auto;
	font-size: 1rem;
	font-weight: bold;
}

.f-interview .btn-readMore {
	margin-top: 17rem;
}

.f-interview .thumContainer {
	position: absolute;
	left: 0;
	bottom: 8.5rem;
}

.f-interview .thumList {
	margin-top: 2.8rem;
}

.f-interview .thumList-item:nth-child(1) {
	background: url("http://placehold.it/108x222.png") 0 0 no-repeat;
	background-size: 5.4rem auto;
}

.f-interview .thumList-item:nth-child(2) {
	background: url("http://placehold.it/108x222.png") 0 0 no-repeat;
	background-size: 5.4rem auto;
}

.f-interview .thumList-item:nth-child(3) {
	background: url("http://placehold.it/108x222.png") 0 0 no-repeat;
	background-size: 5.4rem auto;
}

.f-interview .thumList-item:nth-child(4) {
	background: url("http://placehold.it/108x222.png") 0 0 no-repeat;
	background-size: 5.4rem auto;
}

.f-interview .thumList-item:nth-child(5) {
	background: url("http://placehold.it/108x222.png") 0 0 no-repeat;
	background-size: 5.4rem auto;
}

.f-interview .thumList-item:nth-child(6) {
	background: url("http://placehold.it/108x222.png") 0 0 no-repeat;
	background-size: 5.4rem auto;
}

.f-interview .swiper-container {
	overflow-y: visible;
}

.f-interview .swiper-button-prev,
.f-interview .swiper-button-next {
	top: 10rem;
	width: 1rem;
	height: 1.6rem;
	margin-top: 0;
	background: none;
}

.f-interview .swiper-button-prev {
	left: 1.5rem;
}

.f-interview .swiper-button-next {
	right: 1.5rem;
}

.f-interview .swiper-slide-visible img {
	opacity: 1;
}

.f-interview .swiper-slide-thumb-active img {
	opacity: 0;
}

@-webkit-keyframes marquee {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	100% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
	}
}

@keyframes marquee {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	100% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
	}
}
