extends /pc/_components/_template.pug


block var
	- metas = {}
	- metas.pageName = '店舗検索'
	- metas.siteName = '管理画面'
	- metas.keywords = 'キーワード'
	- metas.description = 'ディスクリプション'

	- pageName = '店舗検索'
block append meta
	+meta(metas)

block title
	title #{metas.pageName} | #{metas.siteName}
block link
	link(href="./style.css", rel="stylesheet")





block pagesContent
	form(action='#')
		.searchModule
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-color-text--grey-700
				input#shopName.mdl-textfield__input(type='text')
				label.mdl-textfield__label(for='shopName') 店舗名
			button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--teal-300.mdl-color-text--white.btn-search(type='submit')
				| 検索
block End_pagesContent