@import '../partial/_common'

.mdl-button
	padding 0 32px
	font-size 16px

.mdl-components__warning
	width 100%
	max-width 640px
	padding 16px
	background-color #fff6a8
	border-radius 2px
	font-size 16px
	color #212121

.btn-csvUpload
	display table
	position relative
	margin-top 16px
	input
		display none

.fileName
	margin-top 8px
	font-size 16px
	color textBaseColor