fontFamilyBlock = @block {
	font-family fontFamily
	font-weight 500
}

html
	// font-size 12px
	// font-size 3.125vw
	// color black
	{fontFamilyBlock}
	word-break break-all
	word-wrap break-word
	-webkit-font-smoothing antialiased

body
	position relative
	background-color #000