// 汎用クラス (utility)
.u-clearfix:before,
.u-clearfix:after
	content ""
	display table
.u-clearfix:after
	clear both
.u-ellipsis
	overflow hidden
	max-width 100%
	padding 2px 0
	white-space nowrap
	text-overflow ellipsis
.u-overlay
	display none
	position fixed
	z-index 1900
	top 0
	left 0
	width 100vw
	height 100vh
	background-color rgba(0,0,0,0.8)