
fontFamily = "游ゴシック", "YuGothic", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif

base = #d81b60 
black = #4b3a40 
gray0 = #faf9f9 
gray1 = #f0eced 
gray2 = #e5dfe1 
gray3 = #dad0d3 
gray4 = #cdc0c5 
gray5 = #bfaeb4 
gray6 = #af9aa1 
gray7 = #9c828b 
gray8 = #81646e 
gray9 = #4b3a40 
pink0 = #fbeaf0 
pink1 = #f7d3e0 
pink2 = #f2b8ce 
pink3 = #ed98b7 
pink4 = #e66d99 
pink5 = #d81b60 
pink6 = #c31856 
pink7 = #ab154c 
pink8 = #8d113e 
pink9 = #650c2c 
red0 = #fbebe9 
red1 = #f7d5d0 
red2 = #f2bcb4 
red3 = #ec9e92 
red4 = #e47766 
red5 = #d8341b 
red6 = #c32e18 
red7 = #aa2915 
red8 = #8d2111 
red9 = #64180c 
orange0 = #faf1e3 
orange1 = #f4e3c4 
orange2 = #efd3a2 
orange3 = #e8c17c 
orange4 = #e1ac50 
orange5 = #d8931b 
orange6 = #c38418 
orange7 = #ab7415 
orange8 = #8d6011 
orange9 = #65450c 
yellow0 = #f6f9e0 
yellow1 = #edf4c0 
yellow2 = #e3ee9d 
yellow3 = #d8e776 
yellow4 = #cce04b 
yellow5 = #bfd81b 
yellow6 = #acc318 
yellow7 = #97ab15 
yellow8 = #7e8e11 
yellow9 = #5b670c 
lime0 = #ebfae3 
lime1 = #d6f5c5 
lime2 = #bfefa4 
lime3 = #a5e87e 
lime4 = #86e151 
lime5 = #60d81b 
lime6 = #56c318 
lime7 = #4cab15 
lime8 = #3f8e11 
lime9 = #2d670c 
green0 = #e6fae8 
green1 = #caf6d0 
green2 = #abf0b4 
green3 = #86ea94 
green4 = #59e26b 
green5 = #1bd834 
green6 = #18c32f 
green7 = #15ab29 
green8 = #118e22 
green9 = #0c6718 
teal0 = #e5faf2 
teal1 = #c8f5e5 
teal2 = #a8f0d6 
teal3 = #83e9c4 
teal4 = #56e2af 
teal5 = #1bd893 
teal6 = #18c385 
teal7 = #15ab74 
teal8 = #118e61 
teal9 = #0c6746 
cyan0 = #e4f7fa 
cyan1 = #c7eff5 
cyan2 = #a6e6ef 
cyan3 = #81dbe9 
cyan4 = #54cfe1 
cyan5 = #1bbfd8 
cyan6 = #18acc3 
cyan7 = #1597ab 
cyan8 = #117d8e 
cyan9 = #0c5a66 
blue0 = #e7eefa 
blue1 = #cddcf6 
blue2 = #afc7f1 
blue3 = #8cafeb 
blue4 = #5f8fe3 
blue5 = #1b60d8 
blue6 = #1856c2 
blue7 = #154ba9 
blue8 = #113d8b 
blue9 = #0c2b61 
indigo0 = #edeafb 
indigo1 = #d9d4f7 
indigo2 = #c1baf3 
indigo3 = #a59aed 
indigo4 = #8070e6 
indigo5 = #341bd8 
indigo6 = #2e18c2 
indigo7 = #2815a9 
indigo8 = #21118a 
indigo9 = #170c60 
violet0 = #f5eafb 
violet1 = #e9d2f7 
violet2 = #ddb7f2 
violet3 = #cd96ed 
violet4 = #b96be5 
violet5 = #931bd8 
violet6 = #8418c2 
violet7 = #7315aa 
violet8 = #5f118c 
violet9 = #430c63 
fuschia0 = #fbeaf9 
fuschia1 = #f7d3f2 
fuschia2 = #f2b8eb 
fuschia3 = #ed98e2 
fuschia4 = #e66cd6 
fuschia5 = #d81bbf 
fuschia6 = #c318ac 
fuschia7 = #ab1597 
fuschia8 = #8d117d 
fuschia9 = #650c59