extends /pc/_components/_template.pug


block var
	- metas = {}
	- metas.pageName = '店舗登録 CSVアップロード'
	- metas.siteName = '管理画面'
	- metas.keywords = 'キーワード'
	- metas.description = 'ディスクリプション'

	- pageName = '店舗登録 CSVアップロード'
block append meta
	+meta(metas)

block title
	title #{metas.pageName} | #{metas.siteName}
block link
	link(href="./style.css", rel="stylesheet")





block pagesContent
	form(action='#')
		.uploadModule
			.mdl-components__warning
				p A列には店舗IDを入力してください。
				p B列には記事を入力してください。
			label.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--teal-300.mdl-color-text--white.btn-csvUpload
				input.js-inputFile(type='file')
				| CSVをアップロード
			.fileName.js-fileName

block script
	script(src="/pc/shop_upload_csv/index.js")
block End_pagesContent