@import '../../partial/_common'

.mdl-data-table
	width 100%
	tr
		// &:nth-child(odd)
		// 	background-color gray1
		&:hover
			background-color gray1 !important
	th,
	td
		padding 12px 18px
		vertical-align middle
		line-height 1.2
		font-size 14px
	th
		width 25%
	td
		width 75%
		border none
.mdl-textfield
	width 100%
	textarea
		min-height 88px
.mdl-textfield__label
	white-space normal

.btn-confirm
	display block
	height 40px
	margin 48px auto
	padding 0 40px
	line-height 40px
	font-size 16px