@import '../partial/_common'

body
	background-color #000
	&::before
		content ""
		position absolute
		top -3px
		left -3px
		right -3px
		bottom -3px
		z-index -1
		filter sepia(100)
		background url("../common/img/bg1.png") 0 0 no-repeat
		// background url(img/bg2.jpg) 0 0 no-repeat
		background-size cover
		opacity 0.4
.f-login
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	width 450px
	height auto
	background-color #fff
	font-size 0
.mdl-layout__header
	display flex
	justify-content center
	position relative
	background-color gray8
.material-icons
	position absolute
	top 50%
	left 16px
	transform translateY(-50%)
.mdl-typography--headline
	padding-left 48px
	font-family fontFamily
.mdl-layout__content
	width 100%
	padding 16px
	box-sizing border-box
.mdl-textfield
	width 100%
	font-family fontFamily
.mdl-button
	display block
	margin-top 16px
	margin-left auto
	font-family fontFamily
	font-size 15px
	&.mdl-button--accent.mdl-button--raised
		background-color gray28
		color gray0
.mdl-button--raised:focus:not(:active)
	box-shadow 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)